/* sizes */
:root {
    --size-px: 1px;
    --size-pxx: 2px;
    --size-xxs: 0.125rem;
    --size-xs: 0.25rem;
    --size-s: 0.5rem;
    --size-base: 1rem;
    --size-m: 1.5rem;
    --size-l: 2rem;
    --size-xl: 4rem;
}

/* Font */
:root {
    /* Font Family */
    --system-ui: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    --font-family: var(--system-ui);

    /* Font Sizes */
    --font-size-xs: 0.75rem;
    --font-size-s: 0.875rem;
    --font-size-base: 1rem;
    --font-size-l: 1.25rem;
    --font-size-xl: 1.5rem;
    --font-size-xxl: 2rem;

    /* Font Weights */
    --font-weight-normal: 400;
    --font-weight-medium: 500;
    --font-weight-semi: 600;
    --font-weight-bold: 700;

    /* Line Heights */
    --line-height-normal: 1.5;
    --line-height-dense: 1.2;
    --line-height-compact: 1;
}

/* Neutral Colours */
:root {
    --color-mono-00: hsl(240, 8%, 0%);
    --color-mono-05: hsl(240, 8%, 5%);
    --color-mono-10: hsl(240, 8%, 10%);
    --color-mono-15: hsl(240, 8%, 15%);
    --color-mono-20: hsl(240, 8%, 20%);
    --color-mono-25: hsl(240, 8%, 25%);
    --color-mono-30: hsl(240, 8%, 30%);
    --color-mono-35: hsl(240, 8%, 35%);
    --color-mono-40: hsl(240, 8%, 40%);
    --color-mono-45: hsl(240, 8%, 45%);
    --color-mono-50: hsl(240, 8%, 50%);
    --color-mono-55: hsl(240, 8%, 55%);
    --color-mono-60: hsl(240, 8%, 60%);
    --color-mono-65: hsl(240, 8%, 65%);
    --color-mono-70: hsl(240, 8%, 70%);
    --color-mono-75: hsl(240, 8%, 75%);
    --color-mono-80: hsl(240, 8%, 80%);
    --color-mono-85: hsl(240, 8%, 85%);
    --color-mono-90: hsl(240, 8%, 90%);
    --color-mono-95: hsl(240, 8%, 95%);
    --color-mono-100: hsl(240, 8%, 100%);
}

/* Mono Semantics */

:root {
    --surface-1: var(--color-mono-100);
    --surface-2: var(--color-mono-95);
    --surface-3: var(--color-mono-90);
    --content-1: var(--color-mono-00);
    --content-2: var(--color-mono-25);
    --content-3: var(--color-mono-40);
    --content-i: var(--color-mono-100);
    --border-1: var(--color-mono-00);
    --border-2: var(--color-mono-25);
    --border-3: var(--color-mono-40);
    --border-4: var(--color-mono-75);
}

/* Semantic Colours */
:root {
    /* HSLs */
    --color-emphasise-h: 240;
    --color-emphasise-s: 100%;
    --color-emphasise-l: 40%;

    --color-default-h: 240;
    --color-default-s: 5%;
    --color-default-l: 100%;

    --color-success-h: 123;
    --color-success-s: 61%;
    --color-success-l: 39%;

    --color-caution-h: 354;
    --color-caution-s: 70%;
    --color-caution-l: 50%;

    --color-highlight-h: 45;
    --color-highlight-s: 100%;
    --color-highlight-l: 50%;

    /* emphasise */
    --color-emphasise: hsl(var(--color-emphasise-h), var(--color-emphasise-s), var(--color-emphasise-l));
    --color-emphasise-hover: hsl(var(--color-emphasise-h), var(--color-emphasise-s), calc(var(--color-emphasise-l) - 5%));
    --color-emphasise-active: hsl(var(--color-emphasise-h), var(--color-emphasise-s), calc(var(--color-emphasise-l) - 10%));

    /* default */
    --color-default: hsl(var(--color-default-h), var(--color-default-s), var(--color-default-l));
    --color-default-hover: hsl(var(--color-default-h), var(--color-default-s), calc(var(--color-default-l) - 5%));
    --color-default-active: hsl(var(--color-default-h), var(--color-default-s), calc(var(--color-default-l) - 10%));

    /* success */
    --color-success: hsl(var(--color-success-h), var(--color-success-s), var(--color-success-l));
    --color-success-hover: hsl(var(--color-success-h), var(--color-success-s), calc(var(--color-success-l) - 5%));
    --color-success-active: hsl(var(--color-success-h), var(--color-success-s), calc(var(--color-success-l) - 10%));

    /* caution */
    --color-caution: hsl(var(--color-caution-h), var(--color-caution-s), var(--color-caution-l));
    --color-caution-hover: hsl(var(--color-caution-h), var(--color-caution-s), calc(var(--color-caution-l) - 5%));
    --color-caution-active: hsl(var(--color-caution-h), var(--color-caution-s), calc(var(--color-caution-l) - 10%));

    /* highlight */
    --color-highlight: hsl(var(--color-highlight-h), var(--color-highlight-s), var(--color-highlight-l));
    --color-highlight-hover: hsl(var(--color-highlight-h), var(--color-highlight-s), calc(var(--color-highlight-l) - 5%));
    --color-highlight-active: hsl(var(--color-highlight-h), var(--color-highlight-s), calc(var(--color-highlight-l) - 10%));
}

/* Borders */
:root {
    --border-radius-s: var(--size-xxs);
    --border-radius-base: var(--size-xs);
    --border-radius-l: var(--size-s);
    --border-width-base: var(--size-px);
    --border-width-heavy: var(--size-xxs);
    --border-width-thick: var(--size-xs);
}

/* Fundamentals */

html {
    font-family: var(--font-family);
    font-size: var(--font-size-base);
    line-height: var(--line-height-normal);
}

body {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    letter-spacing: 0.2px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--surface-1);
    color: var(--content-1);
}

main {
    display: flex;
    flex-direction: column;
    gap: var(--size-base);
    width: 960px;
    max-width: calc(100% - 4rem);
    margin: 0 auto;
    padding: var(--size-xl) 0;
}

main#popup{
    display: flex;
    flex-direction: column;
    flex:auto;
    margin: 0;
    padding: var(--size-l) 0;
    font-size: var(--font-size-s);
}

#bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    gap:var(--size-base);
}

#search {
    display: flex;
    flex-direction: row;
    flex:auto;
}

/* Content */

p {
    font-size: inherit;
    line-height: inherit;
    margin: 0;
}

.description {
    color: var(--content-2);
    padding-bottom: var(--size-s);
}

h1 {
    font-size: var(--font-size-xxl);
    line-height: var(--line-height-normal);
    font-weight: var(--font-weight-semi);
}

h3 {}

h3 {}

ul {
    list-style-type: none;
    margin:0;
    padding:0;
}

.prompt-link {
    text-decoration: none;
}
.prompt-title {
    font-weight: var(--font-weight-medium);
}

.prompt-content {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

/* Interactions */

:focus {
    outline-style: solid;
    outline-width: var(--border-width-thick);
    outline-color: var(--color-highlight);
    outline-offset: var(--size-xxs);
}

a {
    color: var(--color-emphasise);
}

a:hover {
    color: var(--color-emphasise-hover);
}

a:active {
    color: var(--color-emphasise-active);
}

a:focus {
    border-radius: var(--border-radius-s);
}

.button-group {
    display: flex;
    flex-direction: row;
    gap: var(--size-s);
}

button {
    /* border-color: var(--color-emphasise); */
    /* border-style: solid; */
    /* border-width: var(--border-width-heavy); */
    border:none;
    background-color: var(--color-default);
    border-radius: var(--border-radius-base);
    color: var(--color-emphasise);
    font-size: var(--font-size-base);
    font-weight: var(--font-weight-medium);
    line-height: var(--line-height-normal);
    padding: var(--size-base) var(--size-m);
}

button:hover {
    color: var(--color-emphasise-hover);
    /* border-color: var(--color-emphasise-hover); */
    background-color: var(--color-default-hover);
}

button:active {
    color: var(--color-emphasise-active);
    /* border-color: var(--color-emphasise-active); */
    background-color: var(--color-default-active);
}

button.small,
input.small {
    font-size: var(--font-size-s);
    padding: var(--size-s) var(--size-base);
}

button.primary {
    background-color: var(--color-emphasise);
    color: var(--content-i)
}

button.primary:hover {
    background-color: var(--color-emphasise-hover);
}

button.primary:active {
    background-color: var(--color-emphasise-active);
}

button.caution {
    background-color: var(--color-caution);
    color: var(--content-i)
}

button.caution:hover {
    background-color: var(--color-caution-hover);
}

button.caution:active {
    background-color: var(--color-caution-active);
}

/* forms */

form {
    display: flex;
    flex-direction: column;
    gap: var(--size-l);
}

.section {
    display: flex;
    flex-direction: column;
    gap: var(--size-s);
}

label {
    font-size: var(--font-size-l);
    line-height: var(--line-height-normal);
    font-weight: var(--font-weight-medium);
}

input {}

textarea {}

.input {
    display: block;
    box-sizing: border-box;
    padding: var(--size-base);
    border-radius: var(--border-radius-base);
    font-size: var(--font-size-base);
    line-height: var(--line-height-normal);
    background-color: var(--surface-2);
    color: var(--content-1);
    border: none;
}

.input::placeholder {
    color: var(--content-3);
}

.input:hover {}

#search-box {
    display: flex;
    flex-direction: row;
    flex: auto;
}

.error-message {
    color: var(--color-caution);
}

/* Prompt */

#prompt-list {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: var(--size-base);
}

.prompt-item {
    display: flex;
    flex: auto;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: flex-start;
    gap: var(--size-base);
}

.prompt-group {
    display: flex;
    flex-direction: column;
    flex: auto;
    gap: var(--size-xs);
}